<nav class="navbar">

    <div class="logo">

        <img
            src="images/logo-gore.jpeg"
            alt="Logo">

        <div class="titulo">

            <h4>Gobierno Regional de Lambayeque</h4>

            <small>Sistema de Seguimiento</small>

        </div>

    </div>

    <div class="user-menu">

        <button
            class="user-button"
            (click)="menuAbierto = !menuAbierto">

            <span class="avatar">

                A

            </span>

            <span>

                Administrador

            </span>

            <span class="flecha">

                ▼

            </span>

        </button>

        @if(menuAbierto){

            <div class="dropdown">

                <button
                    class="dropdown-item"
                    (click)="cerrarSesion()">

                    🚪 Cerrar sesión

                </button>

            </div>

        }

    </div>

</nav>