<div class="sidebar">

    <div class="titulo">

        PANEL

    </div>

    <nav>

        <a
            routerLink="/dashboard"
            routerLinkActive="active">

            📊 Dashboard

        </a>

        @if(tieneAcceso('salud')){

            <a routerLink="/salud">

                🏥 Salud

            </a>

        }

        @if(tieneAcceso('educacion')){

            <a routerLink="/educacion">

                🏫 Educación

            </a>

        }

        @if(tieneAcceso('historial')){

            <a routerLink="/historial">

                📜 Historial

            </a>

        }

    </nav>
</div>