.cards{

    display:flex;

    gap:25px;

}

.card{

    width:260px;

    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

    border-left:6px solid #E68F1B;

}

.card h1{

    color:#571414;

    margin-top:20px;

}

main{

    padding:35px;

}